{% extends "base.html" %} {% block content %}

<div class="bg-text-1">
  <h1>Мы в вас кончено верим, но с нашим сайтом вы будете уверены в себе;)</h1>
</div>
<div class="bg-text-2">
  <h5>
    Наш сайт даёт возможность подготовиться к экзамену по русскому языку. Мы
    предлагаем обширный набор упражнений и заданий, которые помогут вам освоить
    и закрепить основные правила. Благодаря нашим материалам вы сможете повысить
    свой уровень владения русским языком, а также успешно справиться с заданиями
    экзамена. Наши упражнения представлены в удобном и доступном формате, что
    делает процесс обучения увлекательным и эффективным.
  </h5>
</div>
<a
  onclick="location.href = `/tasks/id=${Math.floor((Math.random() * 5) + 1)}`"
  class="btn-11"
  href="#"
  style="text-decoration: none"
  >Ударения</a
>

{% endblock %}
